{% extends 'home/basic.html' %}
{% block title %}BlogPost{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}

{% load static %}
<div class="container my-3">
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img src="/media/{{post.image}}" class="bd-placeholder-img card-img-top" width="100%" height="250" role="img" ></img>
      <div class="card-body">
      <b><p class="text-capitalize text-decoration-underline" style="color: #ec730b;">{{post.title}}</p></b>
        <p class="card-text">{{post.content|truncatechars:100}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{{post.slug}}"><button type="button" class="btn btn-sm btn-info">View</button></a>
          </div>
          <small class="text-muted"> {{post.timestamp.date }}</small>
        </div>
      </div>
    </div>
</div>
</div>
<div class="container">
<div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <a href="#">{{ post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
        <p>{{post.content}}</p>
        <blockquote>
          <p>{{post.content}}</p>
        </blockquote>
        <p>{{post.content}}</p>
</div>
<hr class="my-4">
<div class="container border border-dark rounded " style="margin-bottom:10%">
  <h3 class="my-3 font-weight-bold">Comments</h3>
  {% for message in messages %}
  <div class="text-center alert my-2 col-5 alert-{{message.tags}}" role="alert">
  {{message}}
  </div>
  {% endfor %}
  
  <!-- comment form starts here -->
  <form class="my-3" action="/blog/postComment" method="post">
  {% csrf_token %}
    <div class=" form-group">
      <label for="exampleInputEmail1">Post Comment</label>
      <input class="form-control" type="text" name="comment" id="comment">
    </div>
    <input type="hidden" name="postSno" id="postSno" value="{{post.sno}}">
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>
  <hr class="w-100">
  <!-- comment form ends here -->

  <!-- comments section starts here -->
  {% for i in comments  %}
    <div class="row mt-3 mb-0 px-1 py-1" style="background-color: antiquewhite;">
      <div class="col-md-1">
      <img class="w-75 h-75 rounded-circle" style="padding-top:6px;" src="{% static '/blog/anushka.jpg' %}" alt="...">
      </div>
      
      <div class="col-md-11 pt-2"><b>{{i.user.username}}</b><small class="mx-2" style="color:blue;">{{i.timestamp}}</small>
      <div><p>{{i.comment}}</p></div>
      </div>
      
    </div>
    
  {% endfor %}
  <!-- comment section ends here -->
  
</div>

{% endblock body %}

